<mat-toolbar color="primary">
      <mat-toolbar-row>
            <span>TP2- PWI</span>
            <mat-divider></mat-divider>
            <button mat-button [matMenuTriggerFor]="menu">Puntos</button>
            <mat-menu #menu="matMenu">
                  <button mat-menu-item><a [routerLink]="['/puntos/consultas']" [routerLinkActive]="['actived']">Uso de Puntos</a></button>
                  <button mat-menu-item ><a [routerLink]="['/puntos/usar']" [routerLinkActive]="['actived']">Utilizar Puntos</a></button>
            </mat-menu>

            <button mat-button><a [routerLink]="['/bolsas']" [routerLinkActive]="['actived']">Bolsas</a></button>
      </mat-toolbar-row>


</mat-toolbar>

<mat-card class="contenedor mat-app-background">
      <router-outlet></router-outlet>
</mat-card>